* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.bill-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

.bill-item {
  width: 100%;
  margin: 0 10px 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.is-individual {
  padding: 1rem;
}

.is-individual span {
  padding-left: 0.5rem;
}